/* اmenu -- start*/

#menu, body, html {

    font-family: Cairo;
    background-color: lightgrey;
    margin: 0px auto;
    padding: 0px;
    height: 0px;

}

/* menu -- end */







/* menu location -- start */

#menu > ul {

/*    background-image: url(images/bg.png); */
    margin: 0;
    padding-left: 918px; 
    float: left;
    list-style-type: none;
}
#menu > ul > li {

    float: right;
    font-size: 17px;
}

/* menu location -- end */







/* pages -- start */

.menu-item {

    transition-duration: 0.3s;
    background-color: black;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    padding: 9px 12.3px;
    line-height: 35px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-item2 {

    transition-duration: 0.3s;
    background-color: #00BCD4;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    padding: 9px 12.3px;
    line-height: 35px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* pages -- end */





/* links desgin -- start */

.menu-item:hover {
    color: white;
    transition-duration: 0.3s;
}
.menu-item2:hover {
    background-color: #03A9F4;
}

/* links desgin -- end */





/* welcome word - start */

#welcome {
    color: white;
    text-align: center;
    font-size: 50px;
    background-image: url(images/bg.jpg);
    width: auto;
    height: 718px;
    padding: auto;
    margin: auto;
    padding-top: 220px;
    transition: all 150ms linear;
    text-transform: uppercase;
    font-family: Cairo;
    text-shadow: 0 3.5px black;
}
#welcome > #welcome2 {
    overflow: hidden;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-family: Cairo;
}

/* welcome word - end */





/* wlcm btn - start */

#btn {
    color: white;
    background-color: black;
    font-family: Cairo;
    border: none;
    box-shadow: 4px 3px white;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 23px;
    text-decoration: none;
    transition-duration: 0.6s;
    text-align: center;
}
#btn:hover {
    color: white;
    background-color: black;
    transition-duration: 0.6s;
    box-shadow: 4px 3px white;
}

/* wlcm btn - end */




/* advantages - start*/

#click {
    background-color: white;
    font-size: 40px; 
    text-align: center;
    color: #03A9F4;
    margin-top: -40px;
    text-shadow: 0 2.5px black;
}
.advantages {
    background-color: white;
    height: 150px;
    font-size: 40px; 
    text-align: center;
    border: 2px solid #03A9F4;
    border-radius: 200px;
}


#fast {
    float: right;
    padding-right: 50px;
    font-size: 20px;
    color: #03A9F4;
}
#defender {
    float: left;
    padding-left: 50px;
    font-size: 20px;
    color: #03A9F4;
}
#always {
    padding-left: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
}
#support {
    color: #03A9F4;
    font-size: 20px;
    text-align: center;
}

/* advantages - end */



/* team - start */

#tm {
    font-size: 40px; 
    text-align: center;
    color: white;
    margin-top: 20px;
    text-shadow: 0 2.5px black;
    background-color: #03A9F4;
}
#team {
    background-color: #00BCD4;
}

#Fras {
    height: 160px;
    margin-left: 580px;
    border-radius: 120px;
    border: 2px solid black;
}

#names {
    display: inline;
    padding-left: 600px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

/* team - end */


/* footer - start */

footer {
    color: darkgrey;
    background-color: lightgray;
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* footer -- end */